
*.xcbkptlist

*.xcuserstate

*.xcuserstate

SeaFoamClient-iOS/SeaFoamClient.xcworkspace/xcuserdata/sideslapd.xcuserdatad/UserInterfaceState.xcuserstate
SeaFoamServer-Python/NetworkConnection.pyc
*.pyc
